.control_container{
    border: 1px solid black;
}

.control_container input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 33%;
    
}

.control_container input[type=range]::-webkit-slider-runnable-track{
    background: #053a5f;
    height: 0.5rem;
    border-radius: 5px;
}

.control_container input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */
   background-color: #ffffff;
   height: 2rem;
   width: 1rem;
   border: 1px solid;
   border-radius: 5px;
    
}

.control_container input[type="range"]::-moz-range-track {
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    background: rgb(200, 211, 200);
}

.control_container input[type=range]::moz-range-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
   margin-top: -12px; /* Centers thumb on the track */
   background-color: #ffffff;
   height: 2rem;
   width: 1rem;
   border: 1px solid;
   border-radius: 5px;
}

.controls{
    display: flex;
    outline: 1px solid;
    padding:25px
}
